.curtains {
  &__bigimg {
    img {
      width: 100%;
      height: 578px;
      @media (max-width: $md2) {
        height: 331px;
      }
    }
  }
  &__title {
    @media (max-width: $md4) {
      text-align: left;
    }
  }
}
