.footer {
  background-color: $light;
  &__container {
    padding: 50px 15px;
    position: relative;
  }
  &_dc {
    @media (max-width: $md2) {
      display: none;
    }
  }

  &__up {
    position: absolute;
    top: -35px;
    right: 0;
    padding: 13px;
    background: rgba(238, 215, 180, 0.5);
    border: 1px solid rgba(238, 215, 180, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: border 0.2s;
    &:hover {
      border: 1px solid $brown;
    }
    @media (max-width: $md1) {
      right: 40px;
    }
  }

  &__head {
    display: flex;
    justify-content: space-between;
    @media (max-width: $md2) {
      flex-wrap: wrap;
      row-gap: 20px;
    }
    @media (max-width: $md4) {
      flex-direction: column;
    }
  }

  &__item {
    max-width: 320px;
    @media (max-width: $md2) {
      flex: 0 1 50%;
      &:nth-child(1) {
        order: 3;
        flex: 0 1 100%;
        max-width: 100%;
      }
      &:nth-child(3) {
        order: 1;
        max-width: 320px;
      }
    }
    a {
      color: $black;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-bottom: 15px;
    p {
      margin-left: 15px;
    }
    a {
      color: $black;
    }
  }

  &__paragraph {
    line-height: 25px;
  }

  &__phones {
    display: flex;
    flex-direction: column;
    gap: 7.5px;
  }

  &__phone {
    color: $black;
    transition: color 0.3s;
    &:hover {
      color: $brown;
    }
  }

  &__body {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $md2) {
      margin-top: 30px;
      flex-direction: column;
      gap: 15px;
    }
  }

  &__logo {
    position: relative;
    z-index: 10;
    img {
      width: 111px;
      height: 66px;
      &:nth-child(2) {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        opacity: 0;
        transition: opacity 0.3s;
        background-color: $light;
      }
    }
    &:hover {
      img {
        &:nth-child(2) {
          opacity: 1;
        }
      }
    }
  }

  &__links {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    @media (max-width: $md3) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__link {
    color: $black;
    position: relative;
    font-size: 20px;
    transition: color 0.3s, text-decoration 0.3s;
    &:hover {
      color: $brown;
      text-decoration: underline;
    }
    &:not(:last-child) {
      &::before {
        content: '';
        position: absolute;
        width: 1px;
        height: 35px;
        background-color: $black;
        top: 50%;
        transform: translate(0, -50%);
        right: -10px;
      }
    }
    @media (max-width: $md3) {
      &::before {
        display: none;
      }
    }
  }

  &__copy {
  }

  &__media {
  }

  &__title {
  }

  &__socials {
    display: flex;
    gap: 15px;
  }

  &__social {
    svg {
      path {
        transition: stroke 0.3s;
      }
    }
    &:hover {
      svg {
        path {
          stroke: $brown;
        }
      }
    }
  }
}

.footer-tablet {
  display: none;
  @media (max-width: $md2) {
    display: block;
  }
  @media (max-width: $md4) {
    display: none;
  }
  &__head {
    display: flex;
    justify-content: space-between;
  }
  .footer__item {
    flex: 0 0 auto;
  }
  .footer__body {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  &-item {
    max-width: 310px;
    order: 3;
  }
  .footer__links {
    margin-top: 50px;
    justify-content: center;
  }
}

.footer-mobile {
  display: none;
  @media (max-width: $md4) {
    display: block;
  }
  &__head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 50px;
    margin-bottom: 50px;
    column-gap: 20px;
  }
  &__lower {
    margin-top: 30px;
    text-align: center;
  }
  &__links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 17px;
  }
  &__link {
    margin-right: 25px;
  }
  &__copy {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 1px;
      height: 35px;
      background-color: #151a21;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      left: -12.5px;
    }
  }
}
