.slider {
  &__block {
    min-width: 0;
    overflow: hidden;
    position: relative;
  }
  &__title {
    margin-bottom: 20px;
    @media (max-width: $md4) {
      margin-bottom: 30px;
    }
  }
  &__buttons {
    @media (max-width: $md3) {
      margin-bottom: 50px;
    }
    @media (max-width: $md4) {
      position: absolute;
      top: 38%;
      z-index: 3;
      width: 100%;
      height: 100%;
    }
  }

  &__button_next {
    position: absolute;
    top: 40px;
    right: 100px;
    padding: 21px 17px;
    border: 1px solid $brown;
    border-radius: 50%;
    transition: background-color 0.2s, border 0.2s;
    cursor: pointer;
    svg {
      width: 25px;
    }
    @media (max-width: 1400px) {
      top: 50px;
    }
    @media (max-width: $md2) {
      top: 0;
    }
    @media (max-width: $md3) {
      right: 30px;
    }
    @media (max-width: $md4) {
      background-color: $vanil;
      padding: 20px 16px;
      svg {
        width: 25px;
      }
    }
    &:hover {
      @media (min-width: $md4) {
        background-color: $vanil;
        border: 1px solid $vanil;
      }
    }
  }
  &__button_prev {
    position: absolute;
    top: 40px;
    left: 100px;
    padding: 21px 17px;
    border: 1px solid $brown;
    border-radius: 50%;
    transition: background-color 0.2s, border 0.2s;
    cursor: pointer;
    z-index: 10;
    svg {
      width: 25px;
    }
    @media (max-width: 1400px) {
      top: 50px;
    }
    @media (max-width: $md2) {
      top: 0;
    }
    @media (max-width: $md3) {
      left: 30px;
    }
    @media (max-width: $md4) {
      background-color: $vanil;
      padding: 20px 16px;
      svg {
        width: 25px;
      }
    }
    &:hover {
      @media (min-width: $md4) {
        background-color: $vanil;
        border: 1px solid $vanil;
      }
    }
  }

  &__wrapper {
    display: flex;
    // gap: 50px;
    min-width: 0;
    padding-top: 50px;
    align-items: flex-end;
    height: 660px;
    @media (max-width: 1300px) {
      height: 580px;
    }
    @media (max-width: $md2) {
      height: 440px;
    }
    @media (max-width: $md3) {
      height: 450px;
    }
    @media (max-width: $md4) {
      height: 550px;
    }
    // // height: 1100px;
    // // @media (max-width: 2200px) {
    // //   height: 900px;
    // // }
    // // @media (max-width: 2000px) {
    // //   height: 800px;
    // // }
    // // @media (max-width: 1700px) {
    // //   height: 700px;
    // // }
    // padding-bottom: 100px;
  }

  &__item {
    padding: 0 15px;
    position: relative;
    max-height: 680px;
    transition: all 0.5s;
    flex: 0 0 20%;
    @media (max-width: 1900px) {
      flex: 0 0 25%;
    }
    // @media (min-width: 1900px) {
    //   flex: 0 0 20%;
    // }
    // &:nth-child(2) {
    //   flex: 0 0 calc(30%);
    // }
    // @media (max-width: $md2) {
    //   flex: 0 0 30%;
    // }
    @media (max-width: $md14) {
      padding: 0 10px;
    }
    @media (max-width: $md2) {
      flex: 0 0 33.333%;
    }
    @media (max-width: $md3) {
      flex: 0 0 50%;
    }
    @media (max-width: $md4) {
      flex: 0 0 100%;
      justify-content: center;
    }
    // &_big {
    //   flex: 0 0 30%;
    // }
  }

  &__img {
    // padding-bottom: 133%;
    width: 100%;
    height: 512px;
    img {
      width: 100%;
      height: 512px;
      transition: all 0.5s;
    }
    @media (max-width: 1300px) {
      height: 412px;
      img {
        height: 412px;
      }
    }
    @media (max-width: $md2) {
      height: 343px;
      img {
        height: 343px;
      }
    }
    @media (max-width: $md4) {
      height: 556px;
      img {
        height: 556px;
      }
    }
    transition: all 0.5s;
    // @media (max-width: $md3) {
    //   padding-bottom: 0;
    //   height: 600px;
    // }
    // @media (max-width: $md4) {
    //   height: 450px;
    // }
  }

  // &__img {
  //   padding-bottom: 67%;
  //   transition: all 0.5s;
  //   opacity: 1;

  //   &:hover {
  //     transform: scale(1.1);
  //     opacity: 0.8;
  //   }
  // }
  &__btns {
    text-align: center;
    margin-top: 110px;
    position: relative;
    z-index: 5;
    @media (max-width: $md4) {
      margin-top: 50px;
    }
    a {
      color: $black;
    }
  }
  &__btn {
    display: inline-block;
  }
}
.swiper-slide-next {
  // margin-top: -100px;
  transform: translate(0px, 60px);
  // flex: 0 0 calc(30%);
  // @media (min-width: 1900px) {
  //   flex: 0 0 20%;
  // }
  // @media (max-width: $md2) {
  //   flex: 0 0 40%;
  // }
  // @media (max-width: $md3) {
  //   flex: 0 0 55%;
  // }
  // @media (max-width: $md4) {
  //   flex: 0 0 100%;
  //   transform: none;
  // }
  @media (max-width: $md4) {
    transform: translate(0px, 0px);
  }

  .slider__img {
    // transform: translate(0, 10px);
    height: 680px;
    img {
      height: 680px;
    }
    @media (max-width: 1300px) {
      height: 580px;
      img {
        height: 580px;
      }
    }
    @media (max-width: $md2) {
      height: 456px;
      img {
        height: 456px;
      }
    }
    @media (max-width: $md4) {
      height: 556px;
      img {
        height: 556px;
      }
    }
  }
}
.swiper-slide-next-next {
  transform: translate(0px, 60px);
  @media (max-width: $md4) {
    transform: none;
  }
  .slider__img {
  }
}
